{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <p>¡Bienvenido a RECYCLOTHES!

        Somos una plataforma digital dedicada al comercio de prendas de vestir recicladas a precios accesibles. Nuestro objetivo es fomentar la moda sostenible y brindar una alternativa económica y amigable con el medio ambiente para aquellos que buscan renovar su guardarropa.
        
        En RECYCLOTHES, creemos en la importancia de reducir, reutilizar y reciclar. Por eso, nos enfocamos en promover la reutilización de prendas de vestir en buen estado, dándoles una segunda vida y evitando que terminen en vertederos.
        
        ¿Cómo funciona? Nuestra plataforma funciona como un intermediario entre aquellos que desean vender sus prendas y aquellos que buscan comprar ropa a precios accesibles. Los usuarios pueden publicar sus prendas en nuestro catálogo y los interesados pueden explorar y adquirir aquellas que les gusten.
        
        Nos destacamos por ofrecer un proceso de compra sencillo y seguro. Trabajamos en optimizar la gestión de atención al cliente, reduciendo los tiempos de respuesta y brindando un servicio eficiente. Además, contamos con un stock actualizado en tiempo real para asegurar la disponibilidad de los productos y ofrecer una experiencia de compra satisfactoria.
        
        En RECYCLOTHES, nos preocupamos por el cuidado del medio ambiente y promovemos prácticas responsables. Fomentamos el consumo consciente y sostenible, alentando a nuestros usuarios a dar una segunda oportunidad a las prendas y contribuir así a la reducción de residuos textiles.
        
        ¡Únete a la comunidad de RECYCLOTHES y sé parte del movimiento hacia una moda más sostenible! Juntos podemos marcar la diferencia y construir un futuro más consciente y respetuoso con nuestro entorno.
        
        ¡Gracias por elegir RECYCLOTHES!</p>
{% endblock %}